* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root {
	--green: #46d369;

	--white: #fff;

	--gray-100: #999;
	--gray-200: #807667;
	--gray-300: #333;
	--gray-400: #141414;
	--gray-500: #111;

	--black: #000;
}
body {
	background: var(--gray-500);
	color: var(--white);
}

@media (max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}
@media (max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}
